$colorPrimaryColorsE24301: #e24301;    
$colorPrimaryColorsE5561a: #e5561a;    
$colorPrimaryColors000000: #000000;    
$colorPrimaryColors333333: #333333;    
$colorPrimaryColors3c3c3c: #3c3c3c;    
$colorPrimaryColors666666: #666666;    
$colorPrimaryColors999999: #999999;    
$colorNeutralColorsB6b6b6: #b6b6b6;    
$colorNeutralColorsCccccc: #cccccc;    
$colorNeutralColorsEbeced: #ebeced;    
$colorNeutralColorsF2f2f2: #f2f2f2;    
$colorNeutralColorsF9f9f9: #f9f9f9;    
$colorCcuColorsEc8261: #ec8261;    
$colorCcuColors893737: #893737;    
$colorCcuColorsD5322b: #d5322b;    
$colorCcuColors4e2421: #4e2421;    
$colorCcuColorsE2545f: #e2545f;    
$colorCcuColorsC75539: #c75539;    
$colorCcuColorsF9c975: #f9c975;    
$colorCcuColorsF8ac30: #f8ac30;    
$colorCcuColors969235: #969235;    
$colorCcuColors63af40: #63af40;    
$colorCcuColors2d5c2f: #2d5c2f;    
$colorCcuColors6ac0e3: #6ac0e3;    
$colorCcuColors3b897f: #3b897f;    
$colorCcuColors5a78ae: #5a78ae;    
$colorCcuColors313e58: #313e58;    
$colorCcuColors9071a6: #9071a6;    
$colorCcuColorsBcb1b1: #bcb1b1;    
$colorCcuColorsC47482: #c47482;    
$colorCcuColors875f64: #875f64;    
$colorCcuColorsB43d58: #b43d58;    
$colorCcuColors6e3f48: #6e3f48;    
$colorCcuColorsCed833: #ced833;    
$colorVisualizationColorsE95e6f: #e95e6f;    
$colorVisualizationColorsEf9453: #ef9453;    
$colorVisualizationColorsF7c325: #f7c325;    
$colorVisualizationColors1aae9f: #1aae9f;    
$colorVisualizationColors92ca4b: #92ca4b;    
$colorVisualizationColors897a5f: #897a5f;    
$colorVisualizationColorsAc6363: #ac6363;    
$colorVisualizationColorsC660d7: #c660d7;    
$colorVisualizationColors4b5c6b: #4b5c6b;    
$colorVisualizationColors788896: #788896;    
$colorVisualizationColorsBababa: #bababa;    
$colorVisualizationColors439aeb: #439aeb;    
$colorVisualizationColors9635e2: #9635e2;    
$colorToken1: #ffffff;    
